@charset "UTF-8";

/* Color */
$--color-black: #000000 !default;
$--color-white: #FFFFFF !default;

$--color-primary: #64B5F6 !default;

$--color-text-regular: #78909C !default;

$--button-default-font-color: $--color-text-regular !default;
$--button-default-border-color: #78909C !default;

$--button-active-shade-percent: 10% !default;

$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
