@charset "UTF-8";

@import "common/var";

$--color-modifier: (
        "default": $--color-default,
        "info": $--color-info,
        "primary": $--color-primary,
        "success": $--color-success,
        "warning": $--color-warning,
        "danger": $--color-danger
);

$--button-modifier-font-color: (
        "default": $--button-default-font-color,
        "info": $--button-info-font-color,
        "primary": $--button-primary-font-color,
        "success": $--button-success-font-color,
        "warning": $--button-warning-font-color,
        "danger": $--button-danger-font-color
);

$--button-modifier-border-color: (
        "default": $--button-default-border-color,
        "info": $--button-info-border-color,
        "primary": $--button-primary-border-color,
        "success": $--button-success-border-color,
        "warning": $--button-warning-border-color,
        "danger": $--button-danger-border-color
);

@mixin modifier($modifier:'default') {
  $base-font-color: map-get($--button-modifier-font-color, $modifier);
  $base-border-color: map-get($--button-modifier-border-color, $modifier);
  $color: map-get($--color-modifier, $modifier);
  @at-root {
    #{& + '--' + $modifier} {
      color: $base-font-color;
      border-color: $base-border-color;

      &:hover,
      &:focus {
        color: mix($--color-black, $color, $--button-hover-font-percent);
        border-color: mix($--color-black, $color, $--button-hover-border-percent);
        background-color: mix($--color-white, $color, $--button-hover-background-percent);
      }

      &:active {
        color: mix($--color-black, $color, $--button-active-font-percent);
        border-color: mix($--color-black, $color, $--button-active-border-percent);
        background-color: mix($--color-white, $color, $--button-active-background-percent);
      }

      &[disabled] {
        cursor: default;
        background-color: mix($--color-white, $color, $--button-disabled-background-percent);

        &:hover {
          color: map-get($--button-modifier-font-color, $modifier);
          border-color: map-get($--button-modifier-border-color, $modifier);
        }
      }
    }
  }
}

.wa-button {
  background-color: white;
  padding: $--button-padding-vertical $--button-padding-horizontal;
  cursor: pointer;
  border: {
    width: 1px;
    style: solid;
  };

  &:focus {
    outline: none;
  }

  @include modifier;
  @include modifier('default');
  @include modifier(info);
  @include modifier(primary);
  @include modifier(success);
  @include modifier(warning);
  @include modifier(danger);

  &--text {
    color: $--color-primary;
    border: none;
    padding: {
      left: 0;
      right: 0;
    };

    &:hover,
    &:focus {
      color: mix($--color-black, $--color-primary, $--button-hover-font-percent);
      border-color: mix($--color-black, $--color-primary, $--button-hover-border-percent);
    }

    &:active {
      color: mix($--color-black, $--color-primary, $--button-active-font-percent);
      border-color: mix($--color-black, $--color-primary, $--button-active-border-percent);
    }

    &[disabled] {
      cursor: default;
      &:hover {
        color: $--color-primary;
      }
    }
  }

  &__icon + &__content {
    margin-left: .5rem;
  }
}
