@charset "UTF-8";

@import "common/var";

.wa-button {
  background-color: white;
  border: {
    width: 1px;
    style: solid;
    color: $--button-default-border-color;
  };
  color: $--button-default-font-color;
  padding: $--button-padding-vertical $--button-padding-horizontal;

  &:hover {
    color: $--color-primary;
    border: {
      color: $--color-primary;
    };
    cursor: pointer;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border: {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    };
  }

  &--primary {
    color: $--button-primary-font-color;
    border-color: $--button-primary-border-color;
    &:hover {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      border: {
        color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      };
    }

    &:active {
      color: mix($--color-black, $--color-primary, $--button-hover-tint-percent);
      border: {
        color: mix($--color-black, $--color-primary, $--button-hover-tint-percent);
      };
    }
  }
}
